<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612343026282-be74vlqg5c3518dklu1j3cmsgm6f73uv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612343026282-be74vlqg5c3518dklu1j3cmsgm6f73uv</string>
	<key>API_KEY</key>
	<string>AIzaSyBcXrSyUFwC8iKsdv7c3X0_-5bKTQbryf4</string>
	<key>GCM_SENDER_ID</key>
	<string>612343026282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-6232a</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-6232a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612343026282:ios:752d63a06feda092ef7013</string>
</dict>
</plist>